*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
nav-navbarr
:root{
    --Primary:#FED049;
    --Secondary:#007580;
    --Red:#E01B24;
    --Grey:#FAFAFA;
    --Black:#000000;
}
/* start background */
.background{
    background-image: url(../images/WhatsApp\ Image\ 2023-07-02\ at\ 2.32.10\ AM.jpeg) ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    
}
.overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 1800px;
    background-color: #1a1919f1;
    opacity: .8.5;
    z-index: 5;
}
/* End background */
/* start container */
.container{
    z-index: 300;
}
/* End container */
/* start profile div */
.profile{
    width: 120px;
}
.line{
    height: .2px;
    width: 83px;
    background-color: #FED049;
    margin-top: -5px;
    margin-bottom: 10px;
}
/* end profile div */

.person{
    align-items: center;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.527);
}
.hidde{
    display: none;
}
.div-pa{
    margin-left: 20px; 
}
.right-div ,.About ,.mohamed{
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 5px;
}

.rd{
    padding: 4px; 
    margin-top: 8px;
}
.input1{
    background-color: rgba(201, 201, 201, 0.281); 
    border-radius: 5px; 
    color: white; 
    padding: 4px; 
    width: 100%; 
    border: none; 
    margin-top: 8px;
}
.label1{
    display: block;
    padding: 10px 0px;
}
.input2{
    width: 100%; 
    display: block; 
    background-color: rgba(201, 201, 201, 0.281); 
    padding: 6px 12px; 
    border: none; 
    border-radius: 5px; 
    color: white;
}
.input3{
    width: 89%;
    display: block;
    display: block; 
    background-color: rgba(201, 201, 201, 0.281); 
    padding: 6px 12px; 
    border: none; 
    border-radius: 5px; 
    color: white;
    margin:10px  11% 0px;
}
.hidep{
    display: none;
}
.About{
    color: white; min-height: 175px; position: relative;
}
.nav-navbarr{
    margin-left: -10px;
    padding:0px 0px 15px 40px;
}
.nav-navbarr li{
    list-style: none;
    display: inline;
    margin-left: 10px;
}
.speech{
    background-color: rgba(201, 201, 201, 0.027); 

}
.PHONEE{
    width: 27%;
    position: absolute;
    right: 0px;
}


.foter{
    min-height: 320px; 
    margin: 150px auto 0px; 
    width: 80%;  
    background-color: black;
}
.cona1{
    display: none;
}
.cona2{
    display: block;
    width: 28%;
}
.PHONEE9{
    display: none;
}
.mid{
    width: 60%;
    padding-bottom: 20px;
}
.sp1{
    margin-left: 10%;
}
@media(max-width : 992px){
    .icon-2{
        display: none;
       }
       .div-1{
        width: 450px;
        margin-left: 40px;
       }
       .div-pa{
        margin-left: 20px;
       }
       .overlay{
        height: 2800px;
    }
    .About  {
        margin-top: 50px;
    }
    .foter{
        margin-top: 1100px;
    }
    .nav-navbarr ,.PHONEE1 ,.PHONEE2{
        display: none;
    }
    .cona1{
        display: block;
    }
    .cona2{
        display: none;
    }
    .SOFWARE{
        width: 80%;
        padding-left: 10px;
    }
    .SOFWARE1{
        width: 10%;
    }
    .SOFWARE1 i{
        font-size: 28px;
    }
    .hight{
        width: 400px;
    }
    .PHONEE{
        display: none;
    }
    .PHONEE9{
        width: 300px;
        display: block;
    }
    .mid{
        width: 100%;
        text-align: center;
        
    }
  

}


/*start tablet view */
@media(max-width : 768px){
   
   .icon-1{
    order: 1;
   }    
   .btn-hidde{
    order: 2;
   }
   .div-1{
    order: 3;
   }
   .person{
    height: 230px;
    }
    .div-1{
        margin-left: -20px;
    }
    .div-pa{
        margin-left: -20px;
    }
    .hidde{
        display: block;
    }
    .left-div{
        margin-top: 20px;
    }
    .foter{
        margin-top: 1150px;
    }
    .line2{
        display: none;
    }
    .iconat{
        margin-top: 20px;
    }
  
    .mid{
        width: 100%;
    }
  
   
}

/* end tablet view */

/* start mobile view */
@media(max-width : 567px){
    .overlay{
        height: 2600px;
    }
    .hidep{
        display: block;
    }
    .About{
        min-height: 230px;
    }
    .left-div{
        margin-left: 0px;
        margin-right: 0px;
    }
    .sara{
        position: relative;
        min-height: 140px;
    }
    .mo{
        position: relative;
        min-height: 150px;
    }
    .foter{
        margin-top: 1400px;
    }
    
}

/* end mobile view */

@media(max-width : 500px){

    .mo{
        position: relative;
        min-height: 160px;
    }
    .About{
        min-height: 240px;
    }
    .overlay{
        height: 3050px;
    }
    .SOFWARE1{
        width: 20%;
    }
}
foter